<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}基础page的title{% endblock %}</title>
    <style>
        #nav {
            background-color: cadetblue;
        }

        #top {
            background-color: darkolivegreen;
        }

        #middle {
            height: 500px;
            background-color: darkslategrey;
        }

        #foot {
            background-color: darkolivegreen;
        }
    </style>
    {% block my_css %}{% endblock %}
</head>
<body>
<div id="nav">导航栏</div>
<div id="top">头部</div>
<div id="middle">
    {% block middle %}中间内容{% endblock %}
</div>
<div id="foot">底部</div>
{% block script %}

{% endblock %}
</body>
</html>